<section class="container-fluid">
  <div class="container-lg" style="max-width: 770px;">
    <div class="pt-5 pb-3"></div>
    <!-- div title -->
    <div class="row text-center">
      <div class="col">
        <h2 class="tcs7-title">Domande frequenti</h2>
      </div>
    </div>
    <!-- div Accordion -->
    <div class="row">
      <div class="col">
        <div class="accordion-flush" id="accordionFlushExample">
          <div class="mb-4"></div>
          <!-- Q&R 1 -->
          <div class="accordion-item acc-border ">
            <h2 class="accordion-header">
              <button class="btn btn-accordion collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseZero" aria-expanded="false" aria-controls="flush-collapseZero" (click)="toggleAccordion(0)">
              <img [ngClass]="{'rotated': isCollapsed[0]}" src="../../../assets/icons/arrow_forward_ios_16dp_5F6368_FILL0_wght400_GRAD0_opsz20.png" alt="" style="width: 20px; height: 20px;"> <span class="tcs7-acc_header-Q">Quanto costa un Certificato professionale?</span> 
            </button>
            </h2>
            <div id="flush-collapseZero" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="accordion-body_m-16">
                  <p class="p-2 tcs7-acc_body-R">
                    Negli Stati Uniti e in Canada, i certificati professionali partono da 49 dollari al mese dopo il periodo iniziale di prova gratuita di 7 giorni. Il prezzo può variare a seconda del paese e sarà adattato alla vostra posizione al momento del checkout.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-4"></div>
          <!-- Q&R 2 -->
          <div class="acc-border accordion-item">
            <h2 class="accordion-header">
              <button class="btn btn-accordion collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" (click)="toggleAccordion(1)">
              <img [ngClass]="{'rotated': isCollapsed[1]}" src="../../../assets/icons/arrow_forward_ios_16dp_5F6368_FILL0_wght400_GRAD0_opsz20.png" alt="" style="width: 20px; height: 20px;"> <span class="tcs7-acc_header-Q">Quanto tempo occorre per completare un Certificato professionale?</span>
            </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body_m-16">
                <p class="tcs7-acc_body-R p-2">
                  Il tempo per completare un Certificato professionale può variare in base alla materia o al modo in cui si sceglie di apprendere secondo i propri ritmi. In media, il Certificato professionale può essere completato in meno di 6 mesi con 10 ore settimanali.
                </p>
              </div>
            </div>
          </div>
          <div class="mb-4"></div>
           <!-- Q&R 3 -->
          <div class="acc-border accordion-item">
            <h2 class="accordion-header">
              <button class="btn btn-accordion collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" (click)="toggleAccordion(2)">
              <img [ngClass]="{'rotated': isCollapsed[2]}" src="../../../assets/icons/arrow_forward_ios_16dp_5F6368_FILL0_wght400_GRAD0_opsz20.png" alt="" style="width: 20px; height: 20px;"> <span class="tcs7-acc_header-Q"> Quali risorse saranno disponibili per il processo di ricerca del lavoro? </span>
            </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body_m-16">
                <p class="tcs7-acc_body-R p-2">
                  Oltre a progetti pratici per mettere in mostra la tua esperienza, avrai accesso a una guida alla ricerca di lavoro in 5 fasi per aiutarti nel processo. Riceverai anche assistenza per costruire un curriculum e un profilo LinkedIn di spicco, una pratica di colloquio virtuale per il tua specifico settore, lavoro e livello di esperienza, e l'accesso alla comunità degli studenti del Certificato Professionale per fare rete con altre persone che vogliono cambiare carriera.
                </p>
              </div>            
            </div>
          </div>
          <div class="mb-4"></div>
           <!-- Q&R 4 -->
          <div class="acc-border accordion-item">
            <h2 class="accordion-header">
              <button class="btn btn-accordion collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" (click)="toggleAccordion(3)">
              <img [ngClass]="{'rotated': isCollapsed[3]}" src="../../../assets/icons/arrow_forward_ios_16dp_5F6368_FILL0_wght400_GRAD0_opsz20.png" alt="" style="width: 20px; height: 20px;"> <span class="tcs7-acc_header-Q">Quali conoscenze di base sono necessarie</span> 
            </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body_m-16">
                <p class="tcs7-acc_body-R p-2">
                  Nessuna! Sia che tu sia completamente nuovo nel campo del lavoro o che tu abbia già avuto qualche esperienza, un Certificato professionale di base non richiede alcuna conoscenza di base.
                </p>
              </div>            
            </div>
          </div>
          <div class="mb-4"></div>
          <!-- Q&R 5 -->
          <div class="acc-border accordion-item">
            <h2 class="accordion-header">
              <button class="btn btn-accordion collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour" (click)="toggleAccordion(4)">
              <img [ngClass]="{'rotated': isCollapsed[4]}" src="../../../assets/icons/arrow_forward_ios_16dp_5F6368_FILL0_wght400_GRAD0_opsz20.png" alt="" style="width: 20px; height: 20px;"> <span class="tcs7-acc_header-Q"> Chi ha progettato i certificati professionali su Coursera? </span> 
            </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body_m-16">
                <p class="tcs7-acc_body-R p-2">
                  I certificati professionali su Coursera sono stati progettati da esperti in materia delle migliori aziende. Sono stati creati per dotare gli studenti di conoscenze teoriche e pratiche e di capacità di risolvere problemi reali per avere successo in un lavoro di base.
                </p>
              </div>
            </div>
          </div>
          <div class="mb-4"></div>
           <!-- Q&R 6 -->
          <div class="acc-border accordion-item">
            <h2 class="accordion-header">
              <button class="btn btn-accordion collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive" (click)="toggleAccordion(5)">
              <img [ngClass]="{'rotated': isCollapsed[5]}" src="../../../assets/icons/arrow_forward_ios_16dp_5F6368_FILL0_wght400_GRAD0_opsz20.png" alt="" style="width: 20px; height: 20px;"> <span class="tcs7-acc_header-Q"> I certificati professionali sono al 100% online? </span> 
            </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body_m-16">
                <p class="tcs7-acc_body-R p-2">
                  I certificati professionali sono completamente online. Puoi accedere ai video didattici, alle letture e ai compiti in qualsiasi momento e ovunque tramite il web o il tuo dispositivo mobile.
                </p>
              </div>
            </div>
          </div>
          <div class="mb-4"></div>
        </div>

      </div>
    </div>
    <div class="pt-5 pb-3"></div>
  </div>
</section>