<div class="container-fluid bg-fluid d-flex flex-column  justify-content-center pt-5 pb-5">

    <div class="row pb-5 text-center">
        <div class="col-12 p-0"> <!-- title-->
            <h6 class="szlg_SubTitle ">Collaboriamo con <span> <a class="linkColor" href="">
                        più di 325 università e aziende leader del settore
                    </a></span></h6>
        </div>
    </div>
    <!-- logo -->
    <div class="row d-flex justify-content-center align-item-center ps-md-5 pe-md-5">
        <div class="col-3 col-lg-1 col-img_WH  mb-3 d-flex justify-content-center">
            <a class=""> <img class="img-m-100" [src]="urlImgIllinois" alt="Illinois" style="max-height: 32px;"></a>
        </div>
        <div class="col-3 col-lg-1 col-img_WH mb-3 ">
            <a class=""><img class="img-m-100" [src]="urlImgDuke" alt="Duke" style="max-height: 32px;"></a>
        </div>
        <div class="col-3 col-lg-1  col-img_WH mb-3 ">
            <a class=""> <img class="img-m-100" [src]="urlImgGoogle" alt="Google" style="max-height: 37px;"> </a>
        </div>
        <div class="col-3 col-lg-1 col-img_WH mb-3">
            <a class=""> <img class="img-m-100" [src]="urlImgMichigan" alt="University of Michigan"
                    style="max-height: 55px;"> </a>
        </div>
        <div class="col-3 col-lg-1 col-img_WH mb-3">
            <a class=""> <img class="img-m-100" [src]="urlImgIBM" alt="IBM" style="max-height: 37px;"> </a>
        </div>
        <div class="col-3 col-lg-1 col-img_WH mb-3">
            <a class=""> <img class="img-m-100" [src]="urlImgICLondon" alt="Imperial College London"
                    style="max-height: 35px;"> </a>
        </div>
        <div class="col-3 col-lg-1 col-img_WH mb-3">
            <a class=""> <img class="img-m-100" [src]="urlImgStanford" alt="Stanford University"
                    style="max-height: 27px;"> </a>
        </div>
        <div class="col-3 col-lg-1 col-img_WH mb-3">
            <a class=""> <img class="img-m-100" [src]="urlImgUNIPennsylvania" alt="University of Pennsylvania"
                    style="max-height: 37px;"> </a>
        </div>
    </div>
</div>