<!-- SEZIONE SCRITTA -->

<div class="container mt-4-custom me-custom">
    <div class="row position-div">
      <div class="col-lg-8 col-md-8 mb-3">
        <h2 class="h2-become">{{ mainTitle }}</h2>
        <p class="paragra-p" *ngFor="let paragraph of paragraphs">
          {{ paragraph }}
        </p>
  
        <h2 class="h2-mad">Why MADS?</h2>
        <div *ngFor="let section of sections">
          <h3>{{ section.title }}</h3>
          <p class="margin-p">
            {{ section.content }}
          </p>
        </div>
      </div>
      <div class="col-lg-4 mt-5-custom reduce-size ms-5-custom">
        <div class="card mb-3 style-card">
          <div class="card-body">
            <h3>{{ applicationInfo.title }}</h3>
            <p>The next application deadlines are:</p>
            <ul class="ul-position">
              <li class="mt-2" *ngFor="let deadline of applicationInfo.deadlines">
                <strong>{{ deadline.label }}:</strong> {{ deadline.date }}
              </li>
            </ul>
            <p class="application-p">
              <strong>{{ applicationInfo.contact }}</strong>
              <a [href]="applicationInfo.link">Attend an upcoming Information Session</a> or email {{ applicationInfo.email }}.
            </p>
          </div>
        </div>
        <div class="card mt-5 border">
          <div class="card-body2">
            <p class="p-custom">{{ additionalInfo }}</p>
            <button class="btn btn-primary btn-block button-custom">Scopri di più</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- SEZIONE IMMAGINI-CAROSELLO -->
  
  <div class="container mt-5 margin-carousel">
    <h2 class="mb-4 text-center">Ascolta i nostri studenti</h2>
    <div class="row justify-content-center div-custom-carousel">
      <!-- Classi responsive di Bootstrap per allineare le card -->
      <div *ngFor="let testimonial of testimonials" class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex">
        <div class="card-carousel testimonial-card p-3 shadow-sm flex-grow-1">
          <div class="row g-0 align-items-center">
            <div class="col-3 text-center">
              <img [src]="testimonial.imageSrc" [alt]="testimonial.imageAlt" class="rounded-circle img-fluid">
            </div>
            <div class="col-9">
              <div class="card-body">
                <p class="card-text mb-1">"{{ testimonial.quote }}"</p>
                <h5 class="card-title mb-0">— {{ testimonial.name }}</h5>
                <div class="course-name">{{ testimonial.course }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SEZIONE SCROLL-CAROSELLO -->

  <div class="container-carousel mt-5">
    <div class="row">
      
      <div class="col-lg-4 col-md-12 order-lg-1 order-2">
        <div data-testid="multiple-stackability-section">
          <h2 class="display-4">Inizia a lavorare a questa laurea</h2>
          <p class="lead">Preparati per questa laurea</p>
  
          <div class="tabs" data-testid="tabs-root">
            
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation" *ngFor="let tab of tabs">
                <button
                  class="nav-link"
                  [ngClass]="{'active': tabs.indexOf(tab) === 0}"
                  [id]="tab.id + '-tab'"
                  data-bs-toggle="tab"
                  [attr.data-bs-target]="'#' + tab.id"
                  type="button"
                  role="tab"
                  [attr.aria-controls]="tab.id"
                  [attr.aria-selected]="tabs.indexOf(tab) === 0"
                >
                  <span class="span-button">{{ tab.label }}</span>
                </button>
              </li>
            </ul>
            
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade"
                *ngFor="let tab of tabs"
                [ngClass]="{'show active': tabs.indexOf(tab) === 0}"
                [id]="tab.id"
                role="tabpanel"
                [attr.aria-labelledby]="tab.id + '-tab'"
              >
                <p class="mt-3">{{ tab.content }}</p>
                
                <div id="courseCarousel" class="carousel slide">
                  <div class="carousel-inner">

                  
                    <div
                      class="carousel-item"
                      *ngFor="let course of courses; let i = index"
                      
                      [ngClass]="{'active': i === 0, 'special-card': course.title === 'Statistics with Python'}"
                    >
                      <div class="card-carousel">

                        <a [href]="course.url" target="_blank"></a>

                        
                        
                        <img [src]="course.imageUrl" class="card-img-top" [alt]="course.title">
                        <span class="logo-custom"><img class="logo-src" src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-university-assets.s3.amazonaws.com/70/de505d47be7d3a063b51b6f856a6e2/New-Block-M-Stacked-Blue-295C_600x600.png?auto=format%2Ccompress&dpr=1&auto=format%2Ccompress&dpr=2"></span>
                        <div class="card-body-carousel">
                          
                          <h5 class="card-title-custom">{{ course.title }}</h5>
                          <p class="card-text-uni">{{ course.university }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#courseCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#courseCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      
      <div class="col-lg-4 col-md-12 order-lg-2 order-1 d-none d-lg-block">
        <div class="banner">
          <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/images/8807ef2fff498e27cdd19eba63aea985.png?auto=format%2Ccompress&dpr=1" class="img-fluid" alt="stackability-banner">
        </div>
      </div>
    </div>
  </div>
  
  
  
  