<div class="container-flued tcs4-bg_color d-flex justify-content-center">

    <div class="container-lg">
        <div class=" row mt-1 mb-5"></div>
        <!-- title -->
        <div class="row text-center">
            <div class="col">
                <h2 class="sztcs4-Title">In che modo i certificati professionali hanno aiutato gli altri</h2>
                <p class="sztcs4-subTitle">Storie di chi ha completato i certificati professionali</p>
            </div>
        </div>
        <div class="row mb-5"></div>
        <div class="row d-flex justify-content-center">
            <!-- col image1 -->
            <div class="col" style="max-width: 15%;" [hidden]="isVisible()">
                <!-- image1-img1L  -->
                <div class="row imgLR-WH">
                    <div class="col d-flex flex-column align-items-end">
                        <!-- img1L-container -->
                        <div class="container m-0 p-0 text-center" style="width: 90.25px;">
                            <!-- img1L-container_boxImg -->
                            <div>
                                <div class="">
                                    <img class="bc_whiteBorder"
                                        src="https://images.ctfassets.net/wp1lcwdav1p1/4cqYj0kbJWTQALEjmChaQF/2084ef7ef0eaecb2a29d47004bcd93ba/image1.png"
                                        alt="" style="width: 90px; height: 90px;">
                                </div>
                            </div>
                            <!-- img1L-container-text -->
                            <div class="text-center">
                                <p class="sztcs4-imgLR_Name fw-bold m-0">Jesse P.</p>
                                <p class="sztcs4-imgLR_Name m-0">Los Angeles, CA</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- image1-img2L -->
                <div class="row imgLR-WH">
                    <div class="col d-flex flex-column align-items-start">
                        <!-- img1L-container -->
                        <div class="container m-0 p-0 text-center" style="width: 90.25px;">
                            <!-- img1L-container_boxImg -->
                            <div>
                                <div class="">
                                    <img class="bc_whiteBorder"
                                        src="https://images.ctfassets.net/wp1lcwdav1p1/5RlbrLIj4lRBjywJoqzvap/3525fc7f71e1270103e5e3bd422a14e6/uma.png"
                                        alt="" style="width: 90px; height: 90px;">
                                </div>
                            </div>
                            <!-- img1L-container-text -->
                            <div class="text-center">
                                <p class="sztcs4-imgLR_Name fw-bold m-0">Uma K.</p>
                                <p class="sztcs4-imgLR_Name m-0">India</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- image1-img3L -->
                <div class="row imgLR-WH">
                    <div class="col d-flex flex-column align-items-end">
                        <!-- img1L-container -->
                        <div class="container m-0 p-0 text-center" style="width: 90.25px;">
                            <!-- img1L-container_boxImg -->
                            <div>
                                <div class="">
                                    <img class="bc_whiteBorder"
                                        src="https://images.ctfassets.net/wp1lcwdav1p1/2SOYF4ZFWTLtCs4LB8zeM9/9cff11144c5008abbfa613bbf363ea3a/Daijah_Reese.png"
                                        alt="" style="width: 90px; height: 90px;">
                                </div>
                            </div>
                            <!-- img1L-container-text -->
                            <div class="text-center">
                                <p class="sztcs4-imgLR_Name fw-bold m-0">Jesse P.</p>
                                <p class="sztcs4-imgLR_Name m-0">Los Angeles, CA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- col carosello -->
            <div class="sztcs4-CardCarol_WH">
                <app-tcs4-carosello-video-card />
            </div>
            <!-- col image2 -->
            <div class="col " style="max-width: 15%;" [hidden]="isVisible()">
                <div class="d-flex flex-column align-items-end">
                    <!-- image2-img1L  -->
                    <div class="row imgLR-WH">
                        <div class="col d-flex flex-column align-items-start">
                            <!-- img1L-container -->
                            <div class="container m-0 p-0 text-center" style="width: 90.25px;">
                                <!-- img1L-container_boxImg -->
                                <div>
                                    <div class="">
                                        <img class="bc_whiteBorder"
                                            src="https://images.ctfassets.net/wp1lcwdav1p1/7xSrHbHtPptkbWZROnoiDC/f971cdbb76baa006013ecf734b571f9b/stephanie.png"
                                            alt="" style="width: 90px; height: 90px;">
                                    </div>
                                </div>
                                <!-- img1L-container-text -->
                                <div class="text-center">
                                    <p class="sztcs4-imgLR_Name fw-bold m-0">Stephanie S.</p>
                                    <p class="sztcs4-imgLR_Name m-0">Canada</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- image2-img2L -->
                    <div class="row imgLR-WH">
                        <div class="col d-flex flex-column align-items-end">
                            <!-- img1L-container -->
                            <div class="container m-0 p-0 text-center" style="width: 90.25px;">
                                <!-- img1L-container_boxImg -->
                                <div>
                                    <div class="">
                                        <img class="bc_whiteBorder"
                                            src="https://images.ctfassets.net/wp1lcwdav1p1/6AJsqAZoPa2G5Hcm3iZcLU/73ca558f3ba43d1c484587492f2f16ed/sam.png"
                                            alt="" style="width: 90px; height: 90px;">
                                    </div>
                                </div>
                                <!-- img1L-container-text -->
                                <div class="text-center">
                                    <p class="sztcs4-imgLR_Name fw-bold m-0">Sam B</p>
                                    <p class="sztcs4-imgLR_Name m-0">United States</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- image2-img3L -->
                    <div class="row imgLR-WH">
                        <div class="col d-flex flex-column align-items-start">
                            <!-- img1L-container -->
                            <div class="container m-0 p-0 text-center" style="width: 90.25px;">
                                <!-- img1L-container_boxImg -->
                                <div>
                                    <div class="">
                                        <img class="rounded-circle"
                                            src="https://images.ctfassets.net/wp1lcwdav1p1/2MeIOQ5Fi0Pd4D7fMLjUUq/d090904a4a3a6131334884e08c3f23f4/chukwuma.png"
                                            alt="" style="width: 90px; height: 90px;">
                                    </div>
                                </div>
                                <!-- img1L-container-text -->
                                <div class="text-center">
                                    <p class="sztcs4-imgLR_Name fw-bold m-0">Chukwuma E.</p>
                                    <p class="sztcs4-imgLR_Name m-0">Nigeria</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-5 mb-5"></div>
    </div>
   
</div>