<section class="container-lg">
    <div class="row mt-4 mb-4"></div>
    <div class="row d-flex justify-content-around">
        <!-- col img -->
        <div class="col-12 col-sm-8 col-lg-5 p-0">
            <!-- col img -> box-img -->
             <div class="container-sm">
                <div class="row p-0">
                    <img class="p-0"
                        src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/51y3a8YEIvgFTS2qrYNB7s/f806d317ff47487a3d9a2704f4ab9296/iStock-1130519249__1__1.jpg?auto=format%2Ccompress&dpr=2"
                        alt="">
                </div>
             </div>
            
        </div>
        <!-- col text -->
        <div class="col-12 col-sm-8 col-lg-5">
            <!-- col text -> row title -->
            <div class="row">
                <div class="col">
                    <p class="tcs4-colText_rowTitleP m-0 mt-4 mt-lg-0">Hai terminato un certificato professionale?</p>
                    <h2 class="tcs4-colText_rowTitleH2">Ottieni risorse e supporto per guidarti nel processo di ricerca del lavoro.</h2>
                </div>
            </div>
            <div class="row mt-3 mb-3 mt-sm-4 mb-lg-4"></div>
            <!-- col text -> row description -->
            <div class="row ms-3">
                <div class="col">
                    <h3 class="tcs4-colText_rowDescriph3 mt-4 mb-0">Metti in mostra le tue competenze</h3>
                    <p class="tcs4-colText_rowDescripP mb-2">Presenta progetti reali a potenziali datori di lavoro.</p>
                    <h3 class="tcs4-colText_rowDescriph3 mt-3 mb-0">Migliora il tuo curriculum</h3>
                    <p class="tcs4-colText_rowDescripP mb-2">Ricevi assistenza per creare un curriculum e un profilo LinkedIn di spicco.</p>
                    <h3 class="tcs4-colText_rowDescriph3 mt-3 mb-0">Migliora il tuo colloquio</h3>
                    <p class="tcs4-colText_rowDescripP mb-4">Esercitati e migliora le tue abilità nei colloqui con un feedback virtuale.</p>
                </div>

            </div>
        </div>
    </div>
    <div class="row mt-4 mb-4"></div>
</section>