<div id="carouselExampleDark" class="carousel slide d-flex justify-content-center" style="min-height: 380px;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" aria-label="Slide 8"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="8" aria-label="Slide 9"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="9" aria-label="Slide 10"></button>

  </div>
  <div class="carousel-inner">
    <!-- Card 1Video -->
    <div class="carousel-item active" data-bs-interval="10000">
      <div class="d-flex justify-content-center">
          <iframe class="rounded-2" width="665" height="375" src="https://www.youtube.com/embed/5ZjTX0GC944?si=V-JORNOka8JVAsFZ"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
    <!-- Card 2Video -->
    <div class="carousel-item" data-bs-interval="2000">
      <div class="d-flex justify-content-center">
        <iframe class="rounded-2" width="665" height="375" src="https://www.youtube.com/embed/YLdJiLne3bw?si=kFdO6cVMVe3a4nd_"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
    <!-- Card di Jeee P. (M) -->
    <div class="carousel-item">
      <div class="d-flex justify-content-center">
        <!-- Card Carosello -->
        <div class="card-carosello d-flex align-content-around justify-content-center flex-wrap">
          <div class="row ps-4 pe-4 pt-3 pb-3">
            <div class="col">
              <p class="tcs4CVC-parag text-center">
                "Amo il fatto di aver finalmente smesso di lottare contro la mia vera vocazione e di essermi ritrovato
                in un ruolo IT che mi dà una profonda soddisfazione personale."
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center ps-4 pe-4" style="min-height: 100px;">
              <div class="m-0 p-0 d-flex justify-content-center" style="max-width: 348px;">
                <!-- img1L-container_boxImg -->
                <div>
                  <div class="" style="width: 90.25px;">
                    <img class="bc_whiteBorder"
                      src="https://images.ctfassets.net/wp1lcwdav1p1/4cqYj0kbJWTQALEjmChaQF/2084ef7ef0eaecb2a29d47004bcd93ba/image1.png"
                      alt="" style="width: 90px; height: 90px;">
                  </div>
                </div>
                <!-- img1L-container-text -->
                <div class="" style="max-width: 233px;">
                  <p class="sztcs4-imgCaroselCard m-0">Jesse P.</p>
                  <p class="sztcs4-imgCaroselCard opacity-50 m-0">Certificato professionale di assistenza IT di Google
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Card di Uma K. -->
    <div class="carousel-item">
      <div class="d-flex justify-content-center">
        <!-- Card Carosello -->
        <div class="card-carosello d-flex align-content-around justify-content-center flex-wrap">
          <div class="row ps-4 pe-4 pt-3 pb-3">
            <div class="col">
              <p class="tcs4CVC-parag text-center">
                "Il programma IBM Data Science Professional Certificate Program ha aumentato la mia fiducia e la mia padronanza dei dati e della loro visualizzazione. Questo certificato ha continuato ad aprirmi delle porte".
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center ps-4 pe-4" style="min-height: 100px;">
              <div class="m-0 p-0 d-flex justify-content-center" style="width: 348px;">
                <!-- img1L-container_boxImg -->
                <div>
                  <div class="" style="width: 90.25px;">
                    <img class="bc_whiteBorder"
                      src="https://images.ctfassets.net/wp1lcwdav1p1/5RlbrLIj4lRBjywJoqzvap/3525fc7f71e1270103e5e3bd422a14e6/uma.png"
                      alt="" style="width: 90px; height: 90px;">
                  </div>
                </div>
                <!-- img1L-container-text -->
                <div class="" style="width: 233px;">
                  <p class="sztcs4-imgCaroselCard m-0">Uma K.</p>
                  <p class="sztcs4-imgCaroselCard opacity-50 m-0">Certificato professionale IBM Data Science
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Card di Jasse P (F) -->
    <div class="carousel-item">
      <div class="d-flex justify-content-center">
        <!-- Card Carosello -->
        <div class="card-carosello d-flex align-content-around justify-content-center flex-wrap">
          <div class="row ps-4 pe-4 pt-3 pb-3">
            <div class="col">
              <p class="tcs4CVC-parag text-center m-0">
                Il programma mi ha davvero aiutato a plasmare la mia idea di quello che dovrebbe essere il lavoro 
                di un user experience designer. La possibilità di condividere il mio lavoro attraverso il feedback 
                dei colleghi e di vedere il mio prodotto nascere man mano che i corsi progredivano è stata incoraggiante 
                e ho potuto constatare direttamente il miglioramento delle mie capacità e l'ampliamento del mio bagaglio di strumenti.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center ps-4 pe-4 " style="height: 100px;">
              <div class="m-0 p-0 d-flex justify-content-center" style="width: 348px;">
                <!-- img1L-container_boxImg -->
                <div>
                  <div class="" style="width: 90.25px;">
                    <img class="bc_whiteBorder"
                      src="https://images.ctfassets.net/wp1lcwdav1p1/2SOYF4ZFWTLtCs4LB8zeM9/9cff11144c5008abbfa613bbf363ea3a/Daijah_Reese.png"
                      alt="" style="width: 90px; height: 90px;">
                  </div>
                </div>
                <!-- img1L-container-text -->
                <div class="" style="width: 233px;">
                  <p class="sztcs4-imgCaroselCard m-0">Jesse P.</p>
                  <p class="sztcs4-imgCaroselCard opacity-50 m-0">Certificato professionale di Google UX Design
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Card di Stephanie S. -->
    <div class="carousel-item">
      <div class="d-flex justify-content-center">
        <!-- Card Carosello -->
        <div class="card-carosello d-flex align-content-around justify-content-center flex-wrap">
          <div class="row ps-4 pe-4 pt-3 pb-3">
            <div class="col">
              <p class="tcs4CVC-parag text-center">
                Quando la pandemia ha colpito, l'organizzazione non profit 
                per cui lavoro non aveva accesso al nostro guru informatico abituale. 
                Se non avessi avuto le competenze apprese durante il corso, non avrei 
                avuto la fiducia e la capacità di intervenire e aiutare quando c'era
                bisogno di me.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center ps-4 pe-4" style="height: 100px;">
              <div class="m-0 p-0 d-flex justify-content-center" style="width: 348px;">
                <!-- img1L-container_boxImg -->
                <div>
                  <div class="" style="width: 90.25px;">
                    <img class="bc_whiteBorder"
                      src="https://images.ctfassets.net/wp1lcwdav1p1/7xSrHbHtPptkbWZROnoiDC/f971cdbb76baa006013ecf734b571f9b/stephanie.png"
                      alt="" style="width: 90px; height: 90px;">
                  </div>
                </div>
                <!-- img1L-container-text -->
                <div class="" style="width: 233px;">
                  <p class="sztcs4-imgCaroselCard m-0">Stephanie S.</p>
                  <p class="sztcs4-imgCaroselCard opacity-50 m-0">Certificato professionale di sviluppatore cloud full stuck IBM
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Card di Sam B. -->
    <div class="carousel-item">
      <div class="d-flex justify-content-center">
        <!-- Card Carosello -->
        <div class="card-carosello d-flex align-content-around justify-content-center flex-wrap">
          <div class="row ps-4 pe-4 pt-3 pb-3">
            <div class="col">
              <p class="tcs4CVC-parag text-center">
                I chose IBM’s program because I did not want to just learn from a 
                random site; I wanted to go to a company or institution that had a 
                meaningful name in the industry.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center ps-4 pe-4" style="height: 100px;">
              <div class="m-0 p-0 d-flex justify-content-center" style="width: 348px;">
                <!-- img1L-container_boxImg -->
                <div>
                  <div class="" style="width: 90.25px;">
                    <img class="bc_whiteBorder"
                      src="https://images.ctfassets.net/wp1lcwdav1p1/6AJsqAZoPa2G5Hcm3iZcLU/73ca558f3ba43d1c484587492f2f16ed/sam.png"
                      alt="" style="width: 90px; height: 90px;">
                  </div>
                </div>
                <!-- img1L-container-text -->
                <div class="" style="width: 233px;">
                  <p class="sztcs4-imgCaroselCard m-0">Jesse P.</p>
                  <p class="sztcs4-imgCaroselCard opacity-50 m-0">IBM Data Science Professional Certificate
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Card di Chukwuma E. -->
    <div class="carousel-item">
      <div class="d-flex justify-content-center">
        <!-- Card Carosello -->
        <div class="card-carosello d-flex align-content-around justify-content-center flex-wrap">
          <div class="row ps-4 pe-4 pt-3 pb-3">
            <div class="col">
              <p class="tcs4CVC-parag text-center">
                Credo che il certificato abbia dimostrato al mio potenziale 
                datore di lavoro di allora le mie competenze e le mie qualifiche, 
                soprattutto poiché provenienti da un marchio globale come Google.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center ps-4 pe-4" style="height: 100px;">
              <div class="m-0 p-0 d-flex justify-content-center" style="width: 348px;">
                <!-- img1L-container_boxImg -->
                <div>
                  <div class="" style="width: 90.25px;">
                    <img class="bc_whiteBorder"
                      src="https://images.ctfassets.net/wp1lcwdav1p1/2MeIOQ5Fi0Pd4D7fMLjUUq/d090904a4a3a6131334884e08c3f23f4/chukwuma.png"
                      alt="" style="width: 90px; height: 90px;">
                  </div>
                </div>
                <!-- img1L-container-text -->
                <div class="" style="width: 233px;">
                  <p class="sztcs4-imgCaroselCard m-0">Chukwuma E.</p>
                  <p class="sztcs4-imgCaroselCard opacity-50 m-0">Certificato professionale di assistenza IT di Google
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
     <!-- Card di Rachel L. -->
     <div class="carousel-item">
      <div class="d-flex justify-content-center">
        <!-- Card Carosello -->
        <div class="card-carosello d-flex align-content-around justify-content-center flex-wrap">
          <div class="row ps-4 pe-4 pt-3 pb-3">
            <div class="col">
              <p class="tcs4CVC-parag text-center">
                Per chi inizia a lavorare come analista di dati, questa è un'ottima introduzione ed 
                è molto stimolante. Le tempistiche erano ben ponderate e i contenuti erano accessibili 
                a chi è alle prime armi. Mi è piaciuta la varietà dei compiti presenti nel programma.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center ps-4 pe-4" style="height: 100px;">
              <div class="m-0 p-0 d-flex justify-content-center" style="width: 348px;">
                <!-- img1L-container_boxImg -->
                <div>
                  <div class="" style="width: 90.25px;">
                    <img class="bc_whiteBorder"
                      src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/63pGpfhMeKIJrYBzpdQOnI/34ae6d8d0cf14f0523611a8998dfeaff/Rachel_L.png?auto=format%2Ccompress&dpr=2&w=90&h=90&q=40"
                      alt="" style="width: 90px; height: 90px;">
                  </div>
                </div>
                <!-- img1L-container-text -->
                <div class="" style="width: 233px;">
                  <p class="sztcs4-imgCaroselCard m-0">Rachel L.</p>
                  <p class="sztcs4-imgCaroselCard opacity-50 m-0">Certificato professionale di Google Data Analytics
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
     <!-- Card di Cassia L. -->
     <div class="carousel-item">
      <div class="d-flex justify-content-center">
        <!-- Card Carosello -->
        <div class="card-carosello d-flex align-content-around justify-content-center flex-wrap">
          <div class="row ps-4 pe-4 pt-3 pb-3">
            <div class="col">
              <p class="tcs4CVC-parag text-center">
                Il corso è molto completo, dettagliato e didattico. Il documento contiene 
                una grande quantità di materiale aggiuntivo a supporto dell'implementazione 
                del progetto.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center ps-4 pe-4" style="height: 100px;">
              <div class="m-0 p-0 d-flex justify-content-center" style="width: 348px;">
                <!-- img1L-container_boxImg -->
                <div>
                  <div class="" style="width: 90.25px;">
                    <img class="bc_whiteBorder"
                      src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/01LAZ9hgf7wObacV3AJsKR/bab3fa5d1831f3265eb3395855865aa4/Cassia_L.png?auto=format%2Ccompress&dpr=2&w=90&h=90&q=40"
                      alt="" style="width: 90px; height: 90px;">
                  </div>
                </div>
                <!-- img1L-container-text -->
                <div class="" style="width: 233px;">
                  <p class="sztcs4-imgCaroselCard m-0">Cassia L.</p>
                  <p class="sztcs4-imgCaroselCard opacity-50 m-0">Certificato professionale di gestione dei progetti Google
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev" [hidden]="isVisible()">
    <span> 
      <img src="../../../../../assets/icons/arrow_back_ios_40dp_0058D4_FILL0_wght400_GRAD0_opsz40.svg"
        alt="">
    </span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next" [hidden]="isVisible()">
    <span><img src="../../../../../assets/icons/arrow_forward_ios_40dp_0058D4_FILL0_wght400_GRAD0_opsz40.svg"
        alt=""></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>