<section class="py-mod">
  <div class="container-lg">
    <div class="row flex-mobile justify-content-center ">
      <div class="col-lg-6 mb-4 img-modify">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-rebrand/secondary-consumer-cta/Image-Next-Step.png?auto=format%2Ccompress&dpr=1&w=471&h=330&q=40" 
             srcset="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-rebrand/secondary-consumer-cta/Image-Next-Step.png?auto=format%2Ccompress&dpr=2&w=471&h=330&q=40 2x, 
                     https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-rebrand/secondary-consumer-cta/Image-Next-Step.png?auto=format%2Ccompress&dpr=3&w=471&h=330&q=40 3x" 
             alt="Una signora in piedi davanti a un tavolo da riunione" class="img-custom">
      </div>
      <div class="col-lg-6 p-modify">
        <h2 class="mb-3 h2-mod">Fai il passo successivo verso i tuoi obiettivi personali e professionali con Coursera.</h2>
        <p class="p-paragraph">Iscriviti ora per ricevere raccomandazioni personalizzate dall'intero catalogo di Coursera.</p>
        <button class="btn btn-primary btn-modify" type="button" *ngIf="!isLoggedIn()">iscriviti gratuitamente</button>
        <div class="modal-mod"><app-modal> <hr></app-modal></div>
      </div>
    </div>
  </div>
</section>
