<section class="container-lg">
    <div class="row text-center"> <!-- text e chips-->
    <div id="findCareers" class="col d-flex flex-column justify-content-center mt-4">
        <h2 class="SezTitle "> Trova la carriera che fa per te</h2>
        <p class="SezSottoTitle">Qualsiasi sia il tuo background o i tuoi interessi, i Certificati professionali fanno al caso tuo.</p>
        <h3 class="SezSubTitle">Filtra per categoria di lavoro</h3>
        <app-chip-add-dinamy/>
    </div>
    </div>
    <div class="row text-center d-flex justify-content-center"> <!-- text -->
        <div class="col-lg-8">
            <p class="SezCaption fw-lighter"> ¹I dati relativi alla retribuzione media e alle offerte di lavoro provengono dagli annunci di lavoro negli Stati Uniti di Lightcast™. Dati relativi ai ruoli professionali rilevanti per i programmi in primo piano (1/7/2022 - 30/6/2023)</p>
            <p class="SezCaption fw-lighter"> ²Dati della piattaforma Coursera, complessivi ³ La maggior parte dei programmi è stata progettata per essere completata in 6 mesi, con 10 ore o meno di lavoro a settimana</p>
        </div>
    </div>
</section>