<!-- BLUE SECTION -->


<div class="container-fluid background-total padding-modd">
    <div class="row align-items-center">
      <!-- Title and Description Section -->
      <div class="col-md-6 title-section text-left">
        <h2>Amplia il tuo curriculum e potenzia il tuo corpo docente</h2>
        <p class="p-subtitle">Offri esperienze di apprendimento pratiche e rilevanti per il lavoro con contenuti e corsi professionali di esperti universitari e del settore</p>
      </div>
      <!-- Icons Section -->
      <div class="col-md-6 position-move">
        <div class="row text-left">
          <!-- Icon 1 -->
          <div class="col-md-6 col-12 icon-container padding-card text-start">
            <img src="https://images.ctfassets.net/2pudprfttvy6/4XMrz5se3QIJusI0TKe8Vp/2e71bff5bf8f587e24bb7b2d4fb515f5/icon_website.svg" alt="Icona del sito web">
            <p class="icon-title">Contenuti di alto livello</p>
            <p class="icon-desc">Collega gli studenti a un'ampia gamma di contenuti provenienti da centinaia di leader del settore e università.</p>
          </div>
          <!-- Icon 2 -->
          <div class="col-md-6 col-12 icon-container padding-card text-start">
            <img src="https://images.ctfassets.net/2pudprfttvy6/14Ncu21DhOvd6FxJYVX8zk/3fc2089321031b72a380553f7ca7f0a2/icon-instructor.svg" alt="Icona dei Guided Project">
            <p class="icon-title">Guided Project</p>
            <p class="icon-desc">Offri agli studenti progetti pratici per mettere in pratica le loro abilità e farsi notare dai datori di lavoro.</p>
          </div>
          <!-- Icon 3 -->
          <div class="col-md-6 col-12 icon-container padding-card text-start">
            <img src="https://images.ctfassets.net/2pudprfttvy6/4weCx1DOOp7qrFXKOQhOVr/c3ed49c7d07bbcacf569012056f7a900/CourseraIcon_Diplomas_Black.svg" alt="Certificati professionali">
            <p class="icon-title">Certificati professionali</p>
            <p class="icon-desc">Aiuta i tuoi studenti a sviluppare la fiducia nel lavoro, applicare quanto appreso e affinare le competenze critiche in settori in forte crescita.</p>
          </div>
          <!-- Icon 4 -->
          <div class="col-md-6 col-md-6-custom col-12 icon-container padding-card text-start">
            <img src="https://images.ctfassets.net/2pudprfttvy6/55nWm7sKBNc29Ey0gfWsgo/230dfdcbbb963ea06109df7c30094e6c/icon-integration.svg" alt="Icona di integrazione">
            <p class="icon-title">Integrazione LMS</p>
            <p class="icon-desc">Semplifica l'esperienza di apprendimento collegando Coursera al tuo sistema di gestione dell'apprendimento.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- BANNER SECTION -->

  <div class="container my-5 container-custom">
    <div class="logos-container">
        <img src="https://images.ctfassets.net/2pudprfttvy6/2XqR8ObqoLUWLg9re09bNX/f577e3e2a72b79133226650961636371/tec-de-monterrey-seeklogo.com.svg" alt="Tecnológico de Monterrey" class="university-logo">
        <img src="https://images.ctfassets.net/2pudprfttvy6/54lbV33tUKvvBcwNGtckG2/49c39bdb7dc526bf46e28a564768e50e/University_of_Michigan_logo.svg" alt="Università del Michigan" class="university-logo">
        <img src="https://images.ctfassets.net/2pudprfttvy6/6GkQMj8kJka4rbRfUZssA9/2dff6059d6fd92717503aa1e6bd25a20/Imperial_College_London.svg" alt="Imperial College London" class="university-logo imperial-mod">
        <img src="https://images.ctfassets.net/2pudprfttvy6/5xhVcB29RK2Bt6AThlokKU/ccff5cdcf16619740cf6bbff12e0a711/the-university-of-melbourne-vector-logo.png" alt="Università di Melbourne" class="university-logo melbourne-mod">
        <img src="https://images.ctfassets.net/2pudprfttvy6/4vDQPYaiX1yJ2juCP44eSS/7fb188a6ef815fb09ca1e5dc39467c21/manipal-university-logo.png" alt="Università di Manipal" class=" manipal-mod">
        <img src="https://images.ctfassets.net/2pudprfttvy6/29R4WJGFio5DXNxgm9re49/72e4ae122728f41dffcb32d4095d30bd/nmims-logo.png" alt="NMIMS" class=" nmims-mod">
    </div>
    <div class="text-container">
        <h2 class="h2-banner">Unisciti ai college e alle università di tutto il mondo che scelgono Coursera for Campus</h2>
    </div>
</div>


<!-- INFO LAYOUT COURSERA -->


<div class="container-fluid my-5 background-layout">
  <div class="row">
      <div class="col-12 pt-3 pt-480">
          <div class="testimonial p-5-custom ">
              <h2 class="h2-testimonial mb-4">Ecco come le università innovative stanno utilizzando Coursera for Campus</h2>
              <p class="quote-icon">&ldquo;</p>
              <p class="mb-4 p-modding">Coursera ci dà la certezza di fornire ai nostri studenti un'istruzione di alta qualità che favorisce le loro opportunità professionali. Senza Coursera, non potremmo diventare "Università 4.0", perché non potremmo sviluppare corsi così rapidamente da soli.</p>
              <div class="d-flex align-items-center disclaimer">
                  <img src="https://images.ctfassets.net/2pudprfttvy6/5JO0OLOWgsSYsI627yrDh7/816962f77671f3e08f58a6009d9fcacd/int-u-logo.png" alt="Università internazionale di tecnologia dell'informazione (IITU) " width="91" class="me-5 mb-5 logo-disclaimer">
                  <div>
                      <div><p class="paragr-1">Yevgenia D.</p></div>
                      <div><p class="paragr-2 text-muted">Vice-Rector for Science and International Collaboration</p></div>
                      <div><p class="paragr-3 text-muted">International Information Technology University (IITU)</p></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>