<div class="">
  <button class="btn btn-primary dropdown-toggle btn-navbar" type="button" aria-expanded="isOpenDropdown"
  data-bs-toggle="dropdown">Esplora!</button>
<ul class="dropdown-menu dm-customer menu-100vh"  aria-labelledby="dropdownMenuButton" [ngClass]="{'show': isOpenDropdown}">
  <li><a class="dropdown-item mt-lg-4 nav-btn_dd-textTitle ">Obiettivi</a></li>
  <li><a class="dropdown-item nav-btn_dd-textsubTitle" href="page_filter">Segui un corso gratuito</a></li>
  <li class="dropdown-submenu">
    <a class="dropdown-item  nav-btn_dd-textsubTitle d-flex justify-content-between" (mouseover)="onMouseOver()">Consegui una laurea <span><img src="../../../../../assets/icons/arrow_forward_ios_16dp_5F6368_FILL0_wght400_GRAD0_opsz20.png" alt="" style="height: 16px; width: 16px;"></span></a>
    <div class="dropdown-menu menu-100vw scrollable" *ngIf="showMessage">
      <div class="row ps-4">
        <div class="col-12">
          <p class="dropend-title mt-5 nv-dd_de-textTitle ">Consegui una laurea</p>
          <p class="dropend-description nav-dd_de-textDescription">Prezzi rivoluzionari per lauree 100% online progettate per adattarsi alla tua
            vita.</p>
        </div>
      </div>
      <app-nav-dropend [data]="lauree" [datamenu]="menuMaterie" />
    </div>
  </li>
  <li class="dropdown-submenu">
    <a class="dropdown-item nav-btn_dd-textsubTitle d-flex justify-content-between" (mouseover)="onMouseOver()">Ottieni un cerficato <span><img src="../../../../../assets/icons/arrow_forward_ios_16dp_5F6368_FILL0_wght400_GRAD0_opsz20.png" alt="" style="height: 16px; width: 16px;"></span></a>
    <div class="dropdown-menu menu-100vw scrollable" *ngIf="showMessage">
      <div class="row ps-4">
        <div class="col-12">
          <p class="dropend-title mt-5 nv-dd_de-textTitle">Ottieni un certificato</p>
          <p class="dropend-description nav-dd_de-textDescription">In 3-9 mesi, acquisisci le competenze necessarie per intraprendere una nuova carriera o per passare al livello successivo. </p>
        </div>
      </div>
      <app-nav-dropend-certificati [data]="certificati" [datamenu]="menuMaterie" />
    </div>
  </li>
  <li><a class="dropdown-item nav-btn_dd-textsubTitle" href="TrovaCarriera">Trova la tua nuova carriera</a></li>
  <li><a class="dropdown-item mt-lg-4 nav-btn_dd-textTitle">Materie</a></li>
    <li class="dropdown-submenu" *ngFor="let materia of menuMaterie" >
      <a class="dropdown-item nav-btn_dd-textsubTitle d-flex justify-content-between" (mouseover)="onMouseOver()">{{materia.value}} <span><img src="../../../../../assets/icons/arrow_forward_ios_16dp_5F6368_FILL0_wght400_GRAD0_opsz20.png" alt="" style="height: 16px; width: 16px;"></span></a>
      <div class="dropdown-menu menu-100vw scrollable" *ngIf="showMessage">
        <app-nav-dropend-materie [data]="lauree" [dataCertificati]="certificati" [dataFor]="materia" [dataInizia]="inizia" [dataCompetenzePP]="certificatiPP"/>
      </div>
    </li>
    <li><a class="btn btn-primary btn-navbar mt-4 ms-3">Sfogia tutti i argomenti</a></li>
</ul>
</div>


