    <app-navbar-appredimento></app-navbar-appredimento>
    <!-- <app-skill-components></app-skill-components>
    <app-riepilogo></app-riepilogo> -->
    <app-course-list></app-course-list>
    <app-navbar></app-navbar>
    <app-immagine-hero></app-immagine-hero>
    <app-sez-logo></app-sez-logo>
    <app-carousel></app-carousel>
    <app-sez-ccommunity></app-sez-ccommunity>
    <app-section-solution></app-section-solution>
    <app-personal-object></app-personal-object>
    <app-footer></app-footer>

   
  