<section class="container-fluid" >
    <div class="row ms-3">
        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center p-md-5">
            <h2 class="SezTitle">
                Lancia la tua nuova carriera con un certificato professionale su Coursera
            </h2>
            <p class="SezSottoTitle">
                I certificati professionali offrono una formazione flessibile e online progettata per prepararti a
                lavorare in settori in forte crescita.
            </p>
            <p class="SezSubTitle">
                7 giorni di prova gratuita | A partire da 49 dollari al mese | Meno di 6 mesi al tuo ritmo
            </p>
            <div>
                <button type="button" class="btn btn-primary" (click)="scrollTo('findCareers')" >
                    Esplora le carriera
                </button>
            </div>
            <div class="mb-4"></div>
        </div><!-- text -->
        <div class="col col-lg-6 SezunoImg p-0">
            <img
                src="https://images.ctfassets.net/wp1lcwdav1p1/5MeAXCoQVVbMTiqEmLwvd8/9e3a544103cecacecca1b718168a4138/learner-header-image-4x.png" class="SeZunoImg">
        </div> <!--img -->
    </div>
   
</section>