<section class="container-fluid tcs2-banckground">
        <div class="row text-center">
            <div class="col-12 mt-5"></div>
            <div class="col-12">
                <h2 class="SezTitle">Fai il primo passo verso la tua nuova carriera</h2>
                <p class="SezSottoTitle">Ottieni una formazione di livello professionale e guadagna una credenziale riconosciuta da aziende leader.
                </p>
            </div>
            <div class="col-12 mt-2"></div>
        </div>
        <div class="row mt-4 mb-4"></div>
        <div class="row">
            <div class="col-lg-4 ps-sm-4 pe-sm-4 pb-5">
                <div class="card tcs2-height">
                    <div class="d-flex justify-content-center mt-4">
                    <img src="../../../assets/goal.svg" alt="target" style="width: 35px; height: 35px;">
                     </div>
                    <div class="card-body text-center">
                      <p class="SezSottoTitle">Esperienza precedente facoltativa</p>
                      <p class="tcs2-SezSSTitle ">Sviluppa competenze pronte per il lavoro, anche se sei nuovo nel settore.</p>
                      <hr class="hr" />
                      <p class="fw-medium">2.284.150</p>
                      <p class="tcs2-SezSSTitle">offerte di lavoro nei settori del Certificato Professionale di base¹</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 ps-sm-4 pe-sm-4 pb-5">
                <div class="card tcs2-height">
                    <div class="d-flex justify-content-center mt-4">
                    <img src="../../../assets/file-badge.svg" alt="target" style="width: 35px; height: 35px;">
                </div>
                    <div class="card-body text-center">
                      <p class="SezSottoTitle">Earn a valuable credential</p>
                      <p class="tcs2-SezSSTitle ">Apply your new skills to real-world projects using the latest industry tools and techniques.</p>
                      <hr class="hr" />
                      <p class="fw-medium">4.7 / 5 </p>
                      <p class="tcs2-SezSSTitle">average rating given by 200,000+ global learners enrolled in an entry-level Professional Certificate²</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 ps-sm-4 pe-sm-4 pb-5">
                <div class="card tcs2-height">
                    <div class="d-flex justify-content-center mt-4">
                    <img src="../../../assets/clock.svg" alt="target" style="width: 35px; height: 35px;">
                </div>
                    <div class="card-body text-center">
                      <p class="SezSottoTitle">Learn at your own pace</p>
                      <p class="tcs2-SezSSTitle ">Complete the training in less than 6 months while working a full-time job.</p>
                      <hr class="hr" />
                      <p class="fw-medium">Under 10 hours</p>
                      <p class="tcs2-SezSSTitle">of flexible study per week³</p>
                    </div>
                  </div>
            </div>
            <div class="col-12 mb-5"></div>
        </div>

</section>